.app {
  width: 100%;
  height: 100%;
}

.signin,
.signup {
  margin: auto;
  margin-top: 20%;
  padding: 55px 55px 33px;
  width: 280px;
  height: auto;
  border: 1px solid black;
  border-radius: 8px;
}

.signin-header,
.signup-header {
  padding-bottom: 26px;

  font-family: 'Poppins-Bold, sans-serif;';
  font-size: 30px;

  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;

  height: 45px;
  width: 100%;

  margin-bottom: 45px;
}

.input-container label {
  margin-bottom: 4px;
}

.button-wrapper {
  width: 100%;

  text-align: -webkit-center;
}

.button-wrapper div {
  display: table-cell;
  width: 128px;
  height: 48px;

  background-color: rgb(33, 212, 253);
  border: 1px solid black;
  border-radius: 16px;

  text-align: center;
  vertical-align: middle;
}

.button-wrapper div:active {
  background-color: rgb(28, 189, 225);
}

.user {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.user div {
  padding: 8px;
}
